import(snowfall)
import(gplots)
import(BiocParallel)
import(scran)
import(stats)
import(utils)
import(NMF)
import(Matrix)

export(rdirichlet)
export(sample.Z.theta_n, sample.theta_n, sample.n)
export(Rcgminu)
export(logsumexp)
export(transform.phi_t)
export(compute.elbo)
export(log.mle.gamma, log.mle.gamma.grad)
export(log.posterior.gamma, log.posterior.gamma.grad)

export(plot.cor.phi)
export(plot.scRNA.outlier, plot.bulk.outlier, plot.bulk.vs.sc)
export(select.gene.type, cleanup.genes)
export(get.exp.stat, select.marker)
export(new.prism)
export(run.prism)
export(run.prism.st)
export(update.theta)
export(get.exp, get.fraction)
export(learn.embedding.nmf, learn.embedding)

exportClasses(prism)
exportClasses(jointPost)
exportClasses(BayesPrism)

exportMethods(show)

